In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [2]:
data = pd.read_csv('Training Data_2021.csv')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,578064,1748,0.3044,0.000,0.0,0.0,0,20114,5574,77386,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82996,578065,1846,NaN,0.000,0.0,0.0,793,18608,18608,63820,...,0,missing,missing,0,5,0.46925,na,0,L,0
82997,578066,1907,0.0381,0.000,0.0,0.0,2478,24775,24775,100294,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82998,578067,1744,1.8301,0.000,0.0,0.0,496,917,496,116164,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82999,578068,1832,1.5561,0.000,0.0,0.0,1016,7928,7928,132208,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [4]:
data[data['mvar4']==0]

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,578064,1748,0.3044,0.000,0.0,0.0,0,20114,5574,77386,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82996,578065,1846,NaN,0.000,0.0,0.0,793,18608,18608,63820,...,0,missing,missing,0,5,0.46925,na,0,L,0
82997,578066,1907,0.0381,0.000,0.0,0.0,2478,24775,24775,100294,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82998,578067,1744,1.8301,0.000,0.0,0.0,496,917,496,116164,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82999,578068,1832,1.5561,0.000,0.0,0.0,1016,7928,7928,132208,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [5]:
test = pd.read_csv('Test Data_2021.csv')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
test[test['mvar4']==0]

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,0.0,0.0,258,258,258,10729,...,2,0,missing,missing,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,0.0,0.0,1685,12711,8913,80519,...,4,0,missing,missing,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,0.0,0.0,1185,8954,8954,1189,...,1,0,missing,missing,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,0.0,0.0,missing,3354,missing,missing,...,2,0,missing,missing,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,0.0,0.0,570,570,570,missing,...,2,0,missing,101.61,missing,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46993,310025,1700,0.3831,0.000,0.0,0.0,344,344,344,991,...,3,0,missing,missing,0.66667,2,0.97374,0,0,C
46994,310026,1910,0.0000,0.000,0.0,0.0,4955,47306,47306,88124,...,2,0,missing,missing,0,4,0.79867,na,na,L
46995,310027,1736,2.1740,0.000,0.0,0.0,11,4248,1577,13379,...,4,0,missing,78.378,0,4,0.43829,na,0,C
46998,310030,1780,1.1874,0.000,0.0,0.0,0,6356,4802,3206,...,8,0,missing,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0.0,0.0,0,25773,2869,132985,...,4,0,32.4,missing,0.07143,12,0.68482,0,0,C

**So Seeing the Data I think The value of mvar4 is 0 for 86% of the test data so I don't think the model will depend on this so I will drop it and won't consider it in the model**

In [7]:
data1 = data.drop('mvar4', axis=1)

In [8]:
data1

,application_key,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0,6015,322,40369,18414,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,102,7532,3171,18234,13664,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,missing,2536,missing,missing,2536,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,1982,26440,4955,20316,37013,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,5451,5494,5494,7987,4696,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,578064,1748,0.3044,0.000,0.0,0,20114,5574,77386,81647,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82996,578065,1846,NaN,0.000,0.0,793,18608,18608,63820,29187,...,0,missing,missing,0,5,0.46925,na,0,L,0
82997,578066,1907,0.0381,0.000,0.0,2478,24775,24775,100294,88249,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82998,578067,1744,1.8301,0.000,0.0,496,917,496,116164,2218,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82999,578068,1832,1.5561,0.000,0.0,1016,7928,7928,132208,58977,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [9]:
data1[data1['mvar3']==0]

,application_key,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.0,0.0,0,6015,322,40369,18414,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.0,0.0,102,7532,3171,18234,13664,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.0,0.0,missing,2536,missing,missing,2536,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.0,0.0,1982,26440,4955,20316,37013,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
6,230038,1818,0.4001,0.0,0.0,missing,1088,missing,1536,1498,...,0,88.171,missing,0,2,0.87224,na,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,578064,1748,0.3044,0.0,0.0,0,20114,5574,77386,81647,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82996,578065,1846,NaN,0.0,0.0,793,18608,18608,63820,29187,...,0,missing,missing,0,5,0.46925,na,0,L,0
82997,578066,1907,0.0381,0.0,0.0,2478,24775,24775,100294,88249,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82998,578067,1744,1.8301,0.0,0.0,496,917,496,116164,2218,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82999,578068,1832,1.5561,0.0,0.0,1016,7928,7928,132208,58977,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [10]:
data1.drop(data1[data1['mvar3'].isna()].index, inplace=True)

In [11]:
len(data1[data1['mvar3'].isna()])

0

In [12]:
data1.drop('application_key', axis=1, inplace=True)

**For mvar3 column since the number of missing values were just 535 which is much smaller as compared to 83000 so I decided to remove all those rows which had mvar3 to be NaN**

**The Application Key is not going to be a factor over which the whether the person will default or not will depend. Hence I decided to remove that from the DataFrame**

In [13]:
data1

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0.0,0,6015,322,40369,18414,missing,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,0.0,102,7532,3171,18234,13664,missing,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,0.0,missing,2536,missing,missing,2536,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,0.0,1982,26440,4955,20316,37013,missing,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,0.0,5451,5494,5494,7987,4696,missing,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82995,1748,0.3044,0.000,0.0,0,20114,5574,77386,81647,282,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82996,1846,NaN,0.000,0.0,793,18608,18608,63820,29187,missing,...,0,missing,missing,0,5,0.46925,na,0,L,0
82997,1907,0.0381,0.000,0.0,2478,24775,24775,100294,88249,missing,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82998,1744,1.8301,0.000,0.0,496,917,496,116164,2218,missing,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82999,1832,1.5561,0.000,0.0,1016,7928,7928,132208,58977,missing,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [14]:
data1[data1['mvar1']=='na']

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
29,na,2.0457,4.514,0.0,missing,missing,missing,missing,0,7209,...,na,missing,missing,1.16667,0,NaN,na,na,L,0
45,na,0.3880,2.031,0.0,missing,missing,missing,missing,0,2194,...,na,missing,missing,1.2,0,NaN,na,na,C,1
48,na,0.0000,0.000,0.0,missing,missing,missing,494,0,121,...,0,missing,missing,0.5,0,NaN,na,0,C,0
50,na,0.0000,0.000,0.0,missing,missing,missing,missing,0,1466,...,na,missing,missing,2,0,NaN,na,na,C,0
80,na,NaN,3.480,0.0,missing,missing,missing,missing,0,1460,...,na,missing,missing,1.14286,0,NaN,na,na,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82762,na,NaN,6.326,0.0,missing,missing,missing,missing,0,2449,...,na,missing,missing,1.2,0,NaN,na,na,C,1
82784,na,0.0634,0.000,0.0,missing,missing,missing,missing,0,missing,...,na,missing,missing,0.25,0,NaN,0,0,C,0
82822,na,0.9684,0.000,0.0,14,14,14,297,14,missing,...,0,missing,missing,missing,1,1.0,na,na,C,1
82824,na,0.2668,15.285,0.0,missing,missing,missing,missing,0,1353,...,na,missing,missing,1.25,0,NaN,na,na,C,1
82931,na,0.2801,7.914,0.0,198,198,198,missing,198,360,...,0,missing,missing,1.5,0,NaN,na,na,L,0

**Filling the mvar1 na values with mean values of the column**

In [15]:
data1 = data1.reset_index()

In [16]:
data1[data1['mvar1']=='na']

,index,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
28,29,na,2.0457,4.514,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.16667,0,NaN,na,na,L,0
44,45,na,0.3880,2.031,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.2,0,NaN,na,na,C,1
47,48,na,0.0000,0.000,0.0,missing,missing,missing,494,0,...,0,missing,missing,0.5,0,NaN,na,0,C,0
49,50,na,0.0000,0.000,0.0,missing,missing,missing,missing,0,...,na,missing,missing,2,0,NaN,na,na,C,0
79,80,na,NaN,3.480,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.14286,0,NaN,na,na,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82227,82762,na,NaN,6.326,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.2,0,NaN,na,na,C,1
82249,82784,na,0.0634,0.000,0.0,missing,missing,missing,missing,0,...,na,missing,missing,0.25,0,NaN,0,0,C,0
82287,82822,na,0.9684,0.000,0.0,14,14,14,297,14,...,0,missing,missing,missing,1,1.0,na,na,C,1
82289,82824,na,0.2668,15.285,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.25,0,NaN,na,na,C,1
82396,82931,na,0.2801,7.914,0.0,198,198,198,missing,198,...,0,missing,missing,1.5,0,NaN,na,na,L,0

In [17]:
for i in range(0, len(data1)):
    if data1['mvar1'].iloc[i]=='na':
        data1['mvar1'].iloc[i] = '0'

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [18]:
data1[data1['mvar1']=='0']

,index,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
28,29,0,2.0457,4.514,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.16667,0,NaN,na,na,L,0
44,45,0,0.3880,2.031,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.2,0,NaN,na,na,C,1
47,48,0,0.0000,0.000,0.0,missing,missing,missing,494,0,...,0,missing,missing,0.5,0,NaN,na,0,C,0
49,50,0,0.0000,0.000,0.0,missing,missing,missing,missing,0,...,na,missing,missing,2,0,NaN,na,na,C,0
79,80,0,NaN,3.480,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.14286,0,NaN,na,na,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82227,82762,0,NaN,6.326,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.2,0,NaN,na,na,C,1
82249,82784,0,0.0634,0.000,0.0,missing,missing,missing,missing,0,...,na,missing,missing,0.25,0,NaN,0,0,C,0
82287,82822,0,0.9684,0.000,0.0,14,14,14,297,14,...,0,missing,missing,missing,1,1.0,na,na,C,1
82289,82824,0,0.2668,15.285,0.0,missing,missing,missing,missing,0,...,na,missing,missing,1.25,0,NaN,na,na,C,1
82396,82931,0,0.2801,7.914,0.0,198,198,198,missing,198,...,0,missing,missing,1.5,0,NaN,na,na,L,0

In [19]:
data1['mvar1'] = data1['mvar1'].astype(int)

In [20]:
mean = int(data1['mvar1'].mean())

In [21]:
mean

1679

In [22]:
for i in range(0, len(data1)):
    if data1['mvar1'].iloc[i]==0:
        data1['mvar1'].iloc[i] = mean

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [23]:
data2 = data1.drop('index', axis=1)

In [24]:
data2

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0.0,0,6015,322,40369,18414,missing,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,0.0,102,7532,3171,18234,13664,missing,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,0.0,missing,2536,missing,missing,2536,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,0.0,1982,26440,4955,20316,37013,missing,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,0.0,5451,5494,5494,7987,4696,missing,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0.0,0,20114,5574,77386,81647,282,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,NaN,0.000,0.0,793,18608,18608,63820,29187,missing,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,0.0,2478,24775,24775,100294,88249,missing,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,0.0,496,917,496,116164,2218,missing,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,0.0,1016,7928,7928,132208,58977,missing,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [25]:
data2[data2['mvar2'].isna()]

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
5,1579,NaN,3.502,0.0,missing,missing,missing,missing,0,199,...,na,missing,missing,1.5,0,NaN,na,na,C,1
33,1889,NaN,0.000,0.0,297,19033,19033,38054,27754,missing,...,0,missing,missing,0,4,1.00000,0,0,L,0
37,1765,NaN,0.368,0.0,0,13880,4905,14994,30465,272,...,0,missing,96.814,0.05556,8,0.75267,0,0,C,0
40,1858,NaN,0.000,0.0,missing,39557,missing,27550,39557,missing,...,0,missing,missing,0,1,1.00000,0,na,L,0
46,1712,NaN,11.893,0.0,116,116,116,694,116,1215,...,0,missing,missing,0.75,0,0.99844,1,na,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82444,1945,NaN,0.000,0.0,8140,43292,43292,78785,100248,missing,...,0,missing,missing,0,5,0.99365,0,0,L,0
82446,1827,NaN,0.000,0.0,793,27206,793,793,27999,missing,...,0,missing,missing,0,3,1.00000,0,0,L,0
82447,1949,NaN,0.000,0.0,9105,16527,12865,78106,44491,missing,...,0,missing,51.1,0,8,0.92632,0,0,L,0
82456,1766,NaN,0.000,0.0,296,2098,1773,24131,3005,missing,...,0,missing,missing,0.41667,3,0.57391,0,0,L,0
82461,1846,NaN,0.000,0.0,793,18608,18608,63820,29187,missing,...,0,missing,missing,0,5,0.46925,na,0,L,0

**Calculating The Mean for mvar2**

In [26]:
mean = round(data2['mvar2'].mean(), 4)
mean

1.0559

In [27]:
data2['mvar2']=data2['mvar2'].fillna(mean)

In [28]:
data2

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0.0,0,6015,322,40369,18414,missing,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,0.0,102,7532,3171,18234,13664,missing,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,0.0,missing,2536,missing,missing,2536,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,0.0,1982,26440,4955,20316,37013,missing,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,0.0,5451,5494,5494,7987,4696,missing,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0.0,0,20114,5574,77386,81647,282,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,1.0559,0.000,0.0,793,18608,18608,63820,29187,missing,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,0.0,2478,24775,24775,100294,88249,missing,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,0.0,496,917,496,116164,2218,missing,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,0.0,1016,7928,7928,132208,58977,missing,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [29]:
data2[data2['mvar5']==0]

,mvar1,mvar2,mvar3,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0.0,0,6015,322,40369,18414,missing,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,0.0,102,7532,3171,18234,13664,missing,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,0.0,missing,2536,missing,missing,2536,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,0.0,1982,26440,4955,20316,37013,missing,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,0.0,5451,5494,5494,7987,4696,missing,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0.0,0,20114,5574,77386,81647,282,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,1.0559,0.000,0.0,793,18608,18608,63820,29187,missing,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,0.0,2478,24775,24775,100294,88249,missing,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,0.0,496,917,496,116164,2218,missing,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,0.0,1016,7928,7928,132208,58977,missing,...,0,missing,67.1,0,18,0.83278,0,0,L,0

**For 90% of the data mvar5 is 0 only so this cannot be the deciding factor. Hence I am deleting this feature as well**

In [30]:
data3 = data2.drop('mvar5', axis=1)

In [31]:
data3

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,missing,6423,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,missing,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,missing,2536,missing,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,missing,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,missing,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,1.0559,0.000,793,18608,18608,63820,29187,missing,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,2478,24775,24775,100294,88249,missing,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,496,917,496,116164,2218,missing,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,1016,7928,7928,132208,58977,missing,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [32]:
def convert_to_int_and_replace_missing(data, col):
    for i in range(0, len(data)):
        if data[col].iloc[i]=='missing':
            data[col].iloc[i] ='-1'
    data[col] = data[col].astype(int)
    mean = int(data[col].mean())
    for i in range(0, len(data)):
        if data[col].iloc[i]==-1:
            data[col].iloc[i] = mean

In [33]:
for i in range(6, 16):
    convert_to_int_and_replace_missing(data3, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [34]:
data3

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [35]:
data3[data3['mvar16']=='0']

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
7,1836,0.1358,0.000,347,38964,17828,70729,65843,2447,16298,...,0,missing,missing,0,10,0.89868,0,0,L,1
8,1839,0.1981,0.000,793,6131,6045,48959,31640,2447,10565,...,0,missing,45.59,0.08824,14,0.33834,na,0,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82459,1722,1.3935,0.000,19,916,916,3270,2883,2447,2369,...,0,missing,100.227,0,4,0.82178,0,0,L,0
82461,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [36]:
data3[data3['mvar20']=='0']

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
5,1579,1.0559,3.502,1253,15992,5235,29430,0,199,5787,...,na,missing,missing,1.5,0,NaN,na,na,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82454,1777,0.4556,0.000,2007,2997,2007,6937,5499,2447,4435,...,0,missing,missing,0,5,0.50959,na,0,L,1
82456,1766,1.0559,0.000,296,2098,1773,24131,3005,2447,4331,...,0,missing,missing,0.41667,3,0.57391,0,0,L,0
82458,1891,0.2421,0.000,496,7397,7397,22496,16514,2447,36,...,0,missing,missing,0,7,1.00000,na,na,L,0
82461,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0

In [37]:
def convert_to_int_and_replace_na(data, col):
    for i in range(0, len(data)):
        if data[col].iloc[i]=='na':
            data[col].iloc[i] ='-1'
    data[col] = data[col].astype(int)
    mean = int(data[col].mean())
    for i in range(0, len(data)):
        if data[col].iloc[i]==-1:
            data[col].iloc[i] = mean

In [38]:
for i in range(16,21):
    convert_to_int_and_replace_na(data3, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [39]:
data3[data3['mvar24'].isna()]

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
5,1579,1.0559,3.502,1253,15992,5235,29430,0,199,5787,...,na,missing,missing,1.5,0,NaN,na,na,C,1
13,1669,3.8558,18.465,1253,142,5235,38,142,17287,5787,...,0,107.825,98.664,0.56,11,0.29169,na,1,C,0
14,1583,3.0284,16.325,1253,15992,5235,51450,0,3470,0,...,0,missing,missing,0.32353,2,NaN,0,na,C,0
17,1599,0.8601,1.525,1253,878,5235,29430,878,306,5787,...,1,missing,91.175,0.8,0,1.00000,na,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82424,1584,0.3181,44.026,1253,25985,5235,644,25985,22108,5787,...,1,missing,missing,0.73077,0,1.00000,na,1,C,1
82427,1616,0.7402,13.568,1253,15992,5235,29430,0,6119,5787,...,0,missing,missing,0.71429,2,1.00000,na,0,L,0
82428,1715,0.5682,1.555,396,3490,496,29430,4949,2447,0,...,0,missing,87.649,0.75,2,0.98316,na,0,L,0
82436,1761,0.6062,0.000,142,11776,142,8229,16316,2447,651,...,0,missing,missing,0.05,7,0.89201,0,0,L,0
82449,1615,0.4426,17.885,1253,28788,5235,0,28788,31415,0,...,0,missing,missing,0.79412,0,1.00000,1,0,L,1

In [40]:
for i in range(21, 25):
    val = round(data3[f'mvar{i}'].mean(), 2)
    data3[f'mvar{i}'] = data3[f'mvar{i}'].fillna(val)

In [41]:
convert_to_int_and_replace_missing(data3, 'mvar25')
convert_to_int_and_replace_missing(data3, 'mvar26')
convert_to_int_and_replace_missing(data3, 'mvar27')
convert_to_int_and_replace_missing(data3, 'mvar28')
convert_to_int_and_replace_missing(data3, 'mvar29')
convert_to_int_and_replace_missing(data3, 'mvar30')
convert_to_int_and_replace_missing(data3, 'mvar31')
convert_to_int_and_replace_missing(data3, 'mvar32')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [42]:
val = round(data3[f'mvar33'].mean(), 4)
data3[f'mvar33'] = data3[f'mvar33'].fillna(val)

**Since in mvar34 most of the data is 0 so I won't consider it in model selection**

In [43]:
data3 = data3.drop('mvar34', axis=1)

In [44]:
data3

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82460,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
82461,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
82462,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
82463,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
82464,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

**Dropping na values from mvar36 since they are very less**

In [45]:
data3.drop(data3[data3['mvar36']=='na'].index, inplace=True)

In [46]:
data3 = data3.reset_index()

In [47]:
data4 = data3.drop('index', axis=1)

In [48]:
data4

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79836,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
79837,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
79838,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
79839,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
79840,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [49]:
convert_to_int_and_replace_na(data4, 'mvar35')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [50]:
data4['mvar36'] = data4['mvar36'].astype(int)

In [51]:
convert_to_int_and_replace_na(data4, 'mvar37')
convert_to_int_and_replace_na(data4, 'mvar38')

In [52]:
data4.drop(data4[data4['mvar39']=='na'].index, inplace=True)

In [53]:
data4 = data4.reset_index()

In [54]:
data6 = data4.drop('index', axis=1)

In [55]:
data6

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,missing,0,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74571,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,missing,8.445,0.04348,13,0.48002,0,0,L,0
74572,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,missing,missing,0,5,0.46925,na,0,L,0
74573,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0,19,0.67960,na,0,L,0
74574,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,missing,missing,0.09375,3,0.45317,na,0,L,0
74575,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,missing,67.1,0,18,0.83278,0,0,L,0

In [56]:
# sum = 0
# count = 0
# data6['mvar40'] = data6['mvar40'].astype(float)
# for i in range(0, len(data5)):
#     if data5['mvar40'].iloc[i]!=-1:
#         sum = sum+data5['mvar40'].iloc[i]
#         count+=1
# sum = round(sum/count, 2)
# for i in range(0, len(data5)):
#     if data5['mvar40'].iloc[i]==-1:
#         data5['mvar40'].iloc[i]=sum

In [57]:
def convert_to_float_and_replace_missing(data, col):
    for i in range(0, len(data)):
        if data[col].iloc[i]=='missing':
            data[col].iloc[i] = -1
    data[col] = data[col].astype(float)
    sum=0
    count=0
    for i in range(0, len(data)):
        if data[col].iloc[i]!=-1:
            sum = sum + data[col].iloc[i]
            count+=1
    sum = round(sum/count, 3)
    
    for i in range(0, len(data)):
        if data[col].iloc[i]==-1:
            data[col].iloc[i] = sum

In [58]:
convert_to_float_and_replace_missing(data6, 'mvar40')
convert_to_float_and_replace_missing(data6, 'mvar41')
convert_to_float_and_replace_missing(data6, 'mvar42')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [59]:
data6

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74571,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,L,0
74572,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,na,0,L,0
74573,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,na,0,L,0
74574,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,na,0,L,0
74575,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,L,0

**Dropped null values in mvar44 column since they were very less**

In [60]:
data6

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74571,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,L,0
74572,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,na,0,L,0
74573,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,na,0,L,0
74574,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,na,0,L,0
74575,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,L,0

In [61]:
data6['mvar43'] = data6['mvar43'].astype(int)

In [62]:
data6.drop(data6[data6['mvar44'].isna()].index, inplace=True)

In [63]:
data6

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74571,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,L,0
74572,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,na,0,L,0
74573,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,na,0,L,0
74574,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,na,0,L,0
74575,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,L,0

In [64]:
data6 = data6.reset_index()

In [65]:
data8 = data6.drop('index', axis=1)

In [66]:
data8

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,na,0,C,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,L,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,na,na,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73546,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,L,0
73547,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,na,0,L,0
73548,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,na,0,L,0
73549,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,na,0,L,0
73550,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,L,0

In [67]:
data8[data8['mvar45']=='na']

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,na,0,C,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,na,na,L,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,na,0,C,1
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,na,na,L,0
5,1818,0.4001,0.000,1253,1088,5235,1536,1498,2447,448,...,0,88.171,71.962,0.00000,2,0.87224,na,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73540,1777,0.4556,0.000,2007,2997,2007,6937,5499,2447,4435,...,0,97.845,71.962,0.00000,5,0.50959,na,0,L,1
73544,1891,0.2421,0.000,496,7397,7397,22496,16514,2447,36,...,0,97.845,71.962,0.00000,7,1.00000,na,na,L,0
73547,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,na,0,L,0
73548,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,na,0,L,0
73549,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,na,0,L,0

**Since Very Less 1 in mvar45 so will fill all the na values with 0**

In [68]:
for i in range(0, len(data8)):
    if data8['mvar45'].iloc[i]=='na':
        data8['mvar45'].iloc[i] = '0'
data8['mvar45'] = data8['mvar45'].astype(int)

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [69]:
for i in range(0, len(data8)):
    if data8['mvar46'].iloc[i]=='na':
        data8['mvar46'].iloc[i] = '0'
data8['mvar46'] = data8['mvar46'].astype(int)

In [70]:
for i in range(0, len(data8)):
    if data8['mvar47'].iloc[i]=='C':
        data8['mvar47'].iloc[i] = 0
    else:
        data8['mvar47'].iloc[i]=1

In [72]:
data8

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,0,0,0,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,0,0,1,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,0,0,0,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,1,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73546,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,1,0
73547,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,0,0,1,0
73548,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,0,0,1,0
73549,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,0,0,1,0
73550,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,1,0

In [73]:
data9 = data8

In [74]:
data9

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,0,0,0,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,0,0,1,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,0,0,0,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,1,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73546,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,1,0
73547,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,0,0,1,0
73548,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,0,0,1,0
73549,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,0,0,1,0
73550,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,1,0

**Trying Logistic Regression Model**

In [75]:
Y = data9['default_ind']

In [76]:
X = data9.drop('default_ind', axis=1)

In [77]:
data9.isna().sum()

mvar1          0
mvar2          0
mvar3          0
mvar6          0
mvar7          0
mvar8          0
mvar9          0
mvar10         0
mvar11         0
mvar12         0
mvar13         0
mvar14         0
mvar15         0
mvar16         0
mvar17         0
mvar18         0
mvar19         0
mvar20         0
mvar21         0
mvar22         0
mvar23         0
mvar24         0
mvar25         0
mvar26         0
mvar27         0
mvar28         0
mvar29         0
mvar30         0
mvar31         0
mvar32         0
mvar33         0
mvar35         0
mvar36         0
mvar37         0
mvar38         0
mvar39         0
mvar40         0
mvar41         0
mvar42         0
mvar43         0
mvar44         0
mvar45         0
mvar46         0
mvar47         0
default_ind    0
dtype: int64

In [78]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [79]:
model = linear_model.LogisticRegression(max_iter=100000)

In [80]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=100000)

In [81]:
model.score(X_test,Y_test)

0.740806199442594

In [82]:
model.score(X_train,Y_train)

0.7424541128484025

**Getting a 74% Accuracy**

**Trying Decision Tree**

In [83]:
tree = tree.DecisionTreeClassifier(max_depth=7)

In [85]:
tree.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=7)

In [86]:
tree.score(X_test,Y_test)

0.7619468424988104

In [87]:
tree.score(X_train,Y_train)

0.7763426240652618

**Getting a 76% Accuracy**

**Best Model as per me is Decision Tree and so I will use it for making prediction for the final test data set**

In [91]:
test = pd.read_csv('Test Data_2021.csv')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [92]:
test

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,0.000,0.000,258,258,258,10729,...,2,0,missing,missing,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,0.000,0.000,1685,12711,8913,80519,...,4,0,missing,missing,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,0.000,0.000,1185,8954,8954,1189,...,1,0,missing,missing,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,0.000,0.000,missing,3354,missing,missing,...,2,0,missing,missing,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,0.000,0.000,570,570,570,missing,...,2,0,missing,101.61,missing,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,310027,1736,2.1740,0.000,0.000,0.000,11,4248,1577,13379,...,4,0,missing,78.378,0,4,0.43829,na,0,C
46996,310028,1724,0.0000,1.108,0.768,0.000,missing,64041,missing,10926,...,5,0,missing,38.325,0.16667,14,0.57931,0,0,C
46997,310029,1605,0.2901,11.561,0.937,2.976,missing,2277,missing,3964,...,5,2,101.85,93.142,0.5,4,0.42069,na,0,C
46998,310030,1780,1.1874,0.000,0.000,0.000,0,6356,4802,3206,...,8,0,missing,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0.000,0.000,0,25773,2869,132985,...,4,0,32.4,missing,0.07143,12,0.68482,0,0,C

In [93]:
data9

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696,1.6541,0.000,0,6015,322,40369,18414,2447,6423,...,1,73.780,82.547,0.08696,10,0.63899,0,0,0,0
1,1846,0.8095,0.000,102,7532,3171,18234,13664,2447,765,...,0,99.129,71.962,0.00000,13,0.63836,0,0,1,1
2,1745,0.4001,0.000,1253,2536,5235,29430,2536,2447,5787,...,0,97.845,29.290,0.00000,1,1.00000,0,0,0,1
3,1739,0.2193,0.000,1982,26440,4955,20316,37013,2447,0,...,0,96.272,71.962,0.15385,3,0.53241,0,0,1,0
4,1787,0.0118,0.225,5451,5494,5494,7987,4696,2447,2257,...,0,115.019,71.962,0.00000,1,0.92665,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73546,1748,0.3044,0.000,0,20114,5574,77386,81647,282,48222,...,0,97.845,8.445,0.04348,13,0.48002,0,0,1,0
73547,1846,1.0559,0.000,793,18608,18608,63820,29187,2447,7863,...,0,97.845,71.962,0.00000,5,0.46925,0,0,1,0
73548,1907,0.0381,0.000,2478,24775,24775,100294,88249,2447,2968,...,0,137.164,42.857,0.00000,19,0.67960,0,0,1,0
73549,1744,1.8301,0.000,496,917,496,116164,2218,2447,656,...,0,97.845,71.962,0.09375,3,0.45317,0,0,1,0
73550,1832,1.5561,0.000,1016,7928,7928,132208,58977,2447,19548,...,0,97.845,67.100,0.00000,18,0.83278,0,0,1,0

In [95]:
test = test.drop(['mvar4', 'mvar5'], axis=1)

In [96]:
test

,application_key,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,258,258,258,10729,307,1141,...,2,0,missing,missing,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,1685,12711,8913,80519,18099,missing,...,4,0,missing,missing,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,1185,8954,8954,1189,1185,missing,...,1,0,missing,missing,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,missing,3354,missing,missing,3354,4231,...,2,0,missing,missing,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,570,570,570,missing,570,missing,...,2,0,missing,101.61,missing,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,310027,1736,2.1740,0.000,11,4248,1577,13379,6671,missing,...,4,0,missing,78.378,0,4,0.43829,na,0,C
46996,310028,1724,0.0000,1.108,missing,64041,missing,10926,84839,3329,...,5,0,missing,38.325,0.16667,14,0.57931,0,0,C
46997,310029,1605,0.2901,11.561,missing,2277,missing,3964,5709,missing,...,5,2,101.85,93.142,0.5,4,0.42069,na,0,C
46998,310030,1780,1.1874,0.000,0,6356,4802,3206,18180,24,...,8,0,missing,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0,25773,2869,132985,71788,missing,...,4,0,32.4,missing,0.07143,12,0.68482,0,0,C

In [97]:
convert_to_int_and_replace_na(test, 'mvar1')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [108]:
test['mvar2']=test['mvar2'].fillna(int(test[~test['mvar2'].isna()]['mvar2'].mean()))

In [111]:
test['mvar3']=test['mvar3'].fillna(int(test[~test['mvar3'].isna()]['mvar3'].mean()))

In [114]:
for i in range(6, 16):
    convert_to_int_and_replace_missing(test, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [115]:
test

,application_key,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,258,258,258,10729,307,1141,...,2,0,missing,missing,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,1685,12711,8913,80519,18099,2316,...,4,0,missing,missing,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,1185,8954,8954,1189,1185,2316,...,1,0,missing,missing,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,1271,3354,5256,29876,3354,4231,...,2,0,missing,missing,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,570,570,570,29876,570,2316,...,2,0,missing,101.61,missing,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,310027,1736,2.1740,0.000,11,4248,1577,13379,6671,2316,...,4,0,missing,78.378,0,4,0.43829,na,0,C
46996,310028,1724,0.0000,1.108,1271,64041,5256,10926,84839,3329,...,5,0,missing,38.325,0.16667,14,0.57931,0,0,C
46997,310029,1605,0.2901,11.561,1271,2277,5256,3964,5709,2316,...,5,2,101.85,93.142,0.5,4,0.42069,na,0,C
46998,310030,1780,1.1874,0.000,0,6356,4802,3206,18180,24,...,8,0,missing,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0,25773,2869,132985,71788,2316,...,4,0,32.4,missing,0.07143,12,0.68482,0,0,C

In [116]:
data9.columns

Index(['mvar1', 'mvar2', 'mvar3', 'mvar6', 'mvar7', 'mvar8', 'mvar9', 'mvar10',
       'mvar11', 'mvar12', 'mvar13', 'mvar14', 'mvar15', 'mvar16', 'mvar17',
       'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar22', 'mvar23', 'mvar24',
       'mvar25', 'mvar26', 'mvar27', 'mvar28', 'mvar29', 'mvar30', 'mvar31',
       'mvar32', 'mvar33', 'mvar35', 'mvar36', 'mvar37', 'mvar38', 'mvar39',
       'mvar40', 'mvar41', 'mvar42', 'mvar43', 'mvar44', 'mvar45', 'mvar46',
       'mvar47', 'default_ind'],
      dtype='object')

In [117]:
for i in range(16, 21):
    convert_to_int_and_replace_na(test, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [120]:
data9['mvar21']

0        94.780
1        74.250
2        57.300
3        57.300
4        20.510
          ...
73546    98.702
73547    19.885
73548     9.967
73549    57.300
73550    44.752
Name: mvar21, Length: 73551, dtype: float64

In [121]:
test['mvar21']=test['mvar21'].fillna(round(test[~test['mvar21'].isna()]['mvar21'].mean(),3))
test['mvar22']=test['mvar22'].fillna(round(test[~test['mvar22'].isna()]['mvar22'].mean(),3))
test['mvar23']=test['mvar23'].fillna(round(test[~test['mvar23'].isna()]['mvar23'].mean(),3))
test['mvar24']=test['mvar24'].fillna(round(test[~test['mvar24'].isna()]['mvar24'].mean(),3))

In [124]:
for i in range(25,33):
    convert_to_int_and_replace_missing(test, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [125]:
test

,application_key,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,258,258,258,10729,307,1141,...,2,0,missing,missing,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,1685,12711,8913,80519,18099,2316,...,4,0,missing,missing,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,1185,8954,8954,1189,1185,2316,...,1,0,missing,missing,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,1271,3354,5256,29876,3354,4231,...,2,0,missing,missing,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,570,570,570,29876,570,2316,...,2,0,missing,101.61,missing,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,310027,1736,2.1740,0.000,11,4248,1577,13379,6671,2316,...,4,0,missing,78.378,0,4,0.43829,na,0,C
46996,310028,1724,0.0000,1.108,1271,64041,5256,10926,84839,3329,...,5,0,missing,38.325,0.16667,14,0.57931,0,0,C
46997,310029,1605,0.2901,11.561,1271,2277,5256,3964,5709,2316,...,5,2,101.85,93.142,0.5,4,0.42069,na,0,C
46998,310030,1780,1.1874,0.000,0,6356,4802,3206,18180,24,...,8,0,missing,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0,25773,2869,132985,71788,2316,...,4,0,32.4,missing,0.07143,12,0.68482,0,0,C

In [126]:
test['mvar33']=test['mvar33'].fillna(round(test[~test['mvar33'].isna()]['mvar33'].mean(),3))

In [128]:
test = test.drop('mvar34', axis=1)

In [129]:
for i in range(35,40):
    convert_to_int_and_replace_na(test, f'mvar{i}')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [130]:
for i in range(40,43):
    convert_to_float_and_replace_missing(test, f'mvar{i}')

In [131]:
convert_to_int_and_replace_na(test, 'mvar43')

In [132]:
test['mvar44']=test['mvar44'].fillna(round(test[~test['mvar44'].isna()]['mvar44'].mean(),3))

In [133]:
test

,application_key,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,578069,1719,0.6174,8.623,258,258,258,10729,307,1141,...,2,0,98.575,72.213,0.54545,2,0.91837,0,0,C
1,578070,1795,0.2051,0.000,1685,12711,8913,80519,18099,2316,...,4,0,98.575,72.213,0.17241,4,0.94563,0,0,C
2,578071,1742,0.5082,0.000,1185,8954,8954,1189,1185,2316,...,1,0,98.575,72.213,0.64706,1,0.97054,0,0,C
3,578072,1685,0.2595,25.409,1271,3354,5256,29876,3354,4231,...,2,0,98.575,72.213,0.85714,1,1.00000,na,0,C
4,578073,1666,1.2678,0.000,570,570,570,29876,570,2316,...,2,0,98.575,101.610,0.33600,0,0.99617,na,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,310027,1736,2.1740,0.000,11,4248,1577,13379,6671,2316,...,4,0,98.575,78.378,0.00000,4,0.43829,na,0,C
46996,310028,1724,0.0000,1.108,1271,64041,5256,10926,84839,3329,...,5,0,98.575,38.325,0.16667,14,0.57931,0,0,C
46997,310029,1605,0.2901,11.561,1271,2277,5256,3964,5709,2316,...,5,2,101.850,93.142,0.50000,4,0.42069,na,0,C
46998,310030,1780,1.1874,0.000,0,6356,4802,3206,18180,24,...,8,0,98.575,77.022,0.06061,9,0.53251,na,0,L
46999,310031,1727,1.9288,1.441,0,25773,2869,132985,71788,2316,...,4,0,32.400,72.213,0.07143,12,0.68482,0,0,C

In [134]:
convert_to_int_and_replace_na(test, 'mvar45')

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [135]:
convert_to_int_and_replace_na(test, 'mvar46')

In [136]:
for i in range(0, len(test)):
    if test['mvar47'].iloc[i]=='C':
        test['mvar47'].iloc[i]=0
    else:
        test['mvar47'].iloc[i]=1

In [138]:
application = test['application_key']

In [139]:
test = test.drop('application_key', axis=1)

In [140]:
test

,mvar1,mvar2,mvar3,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar12,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,1719,0.6174,8.623,258,258,258,10729,307,1141,40,...,2,0,98.575,72.213,0.54545,2,0.91837,0,0,0
1,1795,0.2051,0.000,1685,12711,8913,80519,18099,2316,3457,...,4,0,98.575,72.213,0.17241,4,0.94563,0,0,0
2,1742,0.5082,0.000,1185,8954,8954,1189,1185,2316,3028,...,1,0,98.575,72.213,0.64706,1,0.97054,0,0,0
3,1685,0.2595,25.409,1271,3354,5256,29876,3354,4231,5989,...,2,0,98.575,72.213,0.85714,1,1.00000,0,0,0
4,1666,1.2678,0.000,570,570,570,29876,570,2316,74,...,2,0,98.575,101.610,0.33600,0,0.99617,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46995,1736,2.1740,0.000,11,4248,1577,13379,6671,2316,11791,...,4,0,98.575,78.378,0.00000,4,0.43829,0,0,0
46996,1724,0.0000,1.108,1271,64041,5256,10926,84839,3329,2310,...,5,0,98.575,38.325,0.16667,14,0.57931,0,0,0
46997,1605,0.2901,11.561,1271,2277,5256,3964,5709,2316,269,...,5,2,101.850,93.142,0.50000,4,0.42069,0,0,0
46998,1780,1.1874,0.000,0,6356,4802,3206,18180,24,2665,...,8,0,98.575,77.022,0.06061,9,0.53251,0,0,1
46999,1727,1.9288,1.441,0,25773,2869,132985,71788,2316,20839,...,4,0,32.400,72.213,0.07143,12,0.68482,0,0,0

In [161]:
predictions = tree.predict(test)

In [167]:
count=0
for i in range(0, len(predictions)):
    if predictions[i]==1:
        count+=1
count

9183

In [168]:
df = pd.DataFrame()

In [169]:
df['application_key'] = application

In [170]:
df['prediction'] = predictions

In [171]:
df

       application_key  prediction
0               578069           0
1               578070           0
2               578071           0
3               578072           0
4               578073           0
...                ...         ...
46995           310027           1
46996           310028           0
46997           310029           1
46998           310030           0
46999           310031           0

[47000 rows x 2 columns]

In [172]:
df.to_csv('MS4610Project_2.csv', index=False, header=False)